* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  width: 90%; 
  max-width: 1200px;
  margin: auto;
}

.left {
  flex: 1; 
  padding-right: 20px; 
}

.left h1 {
  font-size: 2.5em;
  font-weight: bold;
}

.left h2 {
  font-size: 1.25em;
  margin-top: 10px;
  line-height: 1.5;
  font-weight: lighter;
  color: #000;
}

.links {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.btnG {
  display: flex;
  align-items: center;
  background-color:#4384d1;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

.btnL {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  text-decoration: none;
  color:#4384d1;
  border: 2px solid #4384d1;
}
.btnG img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.btnL img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.right {
  flex: 1; /* Takes up half the width */
  display: flex;
  justify-content: center;
}

#image-of-me {
  width: 100%;
  max-width: 546px;
  height: 600px;
  object-fit: cover;
}

